%md-toolbar
  .md-toolbar-tools.md-whiteframe-2dp.todo-toolbar{ layout: 'row', layout_align: 'space-between center' }

    %div
      %md-button.md-button.md-ink-ripple.md-icon-button{ 'hide-gt-sm': '' }
        %md-icon{ 'ng-click': 'main.toggleLeftSidenav()' } menu

      %h1.md-flex.show-gt-md {{ 'app.title' | translate }}

    %div{ layout: 'row', layout_align: 'space-between center' }
      .loader
        %md-progress-circular{ 'md-mode': 'indeterminate', 'md-diameter': 25, 'data-after-loaded': 'hide' }

      %md-menu
        %md-button.md-icon-button{ 'aria-label': 'Open locale menu', 'ng-click': '$mdMenu.open()' }
          %md-icon{ 'md-menu-origin': '' } translate
        %md-menu-content{ 'ng-mouseleave': '$mdMenu.close()', width: '4' }
          %md-menu-item
            %md-button{ 'ng-click': "changeLocale('en')" }
              {{ 'language.english' | translate }}
          %md-menu-item
            %md-button{ 'ng-click': "changeLocale('ru')" }
              {{ 'language.russian' | translate }}

      %md-button#sign-out.md-icon-button.md-button.md-ink-ripple
        %md-icon{ 'ng-click': 'signOut()' } exit_to_app

%ui-view{ flex: '', layout: 'row' }
