%form#new-task-form.todo-form{ name: 'taskForm', 'md-whiteframe': '4', 'ng-submit': 'ctrl.create(taskForm, project)', layout: 'row' }
  %md-input-container.md-block.title-container
    %textarea#task-title-field{ 'aria-label': 'Title', 'md-maxlength': '100', 'md-no-asterisk': '', name: 'title', ng_model: 'ctrl.new.title', required: '' }
    %div.validators{ ng_messages: 'taskForm.title.$error' }
      %div{ ng_message: 'required' } This is required.
      %div{ ng_message: 'md-maxlength' } The title must be less than 100 characters long.
  %md-button.md-raised.md-primary#create-task{ 'hide-xs': '', type: 'submit' } New Task
  %md-button.md-icon-button.md-button.md-ink-ripple.md-primary.md-24{ 'hide-gt-xs': '', type: 'submit' }
    %md-icon add
