%form#new-task-form.todo-form{ name: 'taskForm', 'md-whiteframe': '4', 'ng-submit': 'ctrl.create(taskForm, project)', layout: 'row' }
  %md-input-container.md-block.title-container
    %textarea#task-title-field{ 'aria-label': 'Title', 'md-maxlength': '100', 'md-no-asterisk': '', name: 'title', ng_model: 'ctrl.newTask.title', required: '' }
    %div.validators{ng_messages: 'taskForm.title.$error'}
      %div{ng_message: 'required'} This is required.
      %div{ng_message: 'md-maxlength'} The title must be less than 100 characters long.
  %md-button.md-raised.md-primary#create-task{ type: 'submit' } New Task
