%md-sidenav{ 'md-is-locked-open': "$mdMedia('gt-sm')", 'md-whiteframe': 4, 'md-component-id': 'left-sidenav' }
  %md-subheader
    %span.ng-scope {{ 'project.list_title' | translate }}

  %md-list{ role: 'list' }
    %md-list-item.noright.project-link{ ng_repeat: 'project in projects.all', 'ng-class': "{ 'active': projects.itsCurrentProject(project) }", 'ng-href': '#!/projects/{{project.id}}', 'ng-click': 'projects.show({id: project.id}); main.closeLeftSidenav()' }
      %span {{ projects.itsCurrentProject(project) ? projects.currentProject.title : project.title }}
      %md-divider.ng-scope{ ng_if: '!$last' }

  %div{ layout: 'row', layout_align: 'center' }
    %md-button.md-raised.md-primary{ 'ng-click': 'projects.create()' } {{ 'project.new' | translate }}


%md-content{ flex: '', layout: 'column', layout_align: 'center center', ng_if: '!projects.currentProject' }
  %h2.center {{ 'project.empty_title' | translate:'{ value: 5 }' }}
  %div{ layout: 'row', layout_align: 'center' }
    %md-button.md-raised.md-primary{ 'ng-click': 'projects.create()' } {{ 'project.new' | translate }}

%ui-view{ ng_if: 'projects.currentProject', layout: 'row', flex: '' }
