.comment-content.todo-item{ layout: 'row', layout_align: 'space-between center' }
  %form.comment-edit{ flex: '', id: 'comment-form-{{comment.id}}', name: 'editCommentForm' }
    %md-input-container.md-block.with-border{ 'ng-class': "{ 'read-field': !editCommentForm.edited }" }
      %textarea.title{ id: 'comment-title-{{comment.id}}', 'aria-label': 'Title', 'md-maxlength': '100', 'md-no-asterisk': '', required: '', name: 'title', ng_model: 'comment.title' }
      %span.hidden {{ comment.title }}
      %div.validators{ ng_messages: 'editCommentForm.title.$error' }
        %div{ ng_message: 'required' } This is required.
        %div{ ng_message: 'md-maxlength' } The title must be less than 100 characters long.

  %md-actions.todo-actions
    %md-button.md-icon-button.md-ink-ripple.md-18
      %md-icon{ id: 'edit-task-{{comment.id}}', 'ng-click': 'ctrl.edit(editCommentForm, comment)' } edit
    %md-button.md-icon-button.md-button.md-ink-ripple.md-18
      %md-icon{ id: 'delete-task-{{comment.id}}', 'ng-click': 'ctrl.delete(comment)' } delete
