.task-content
  .comment-task-wrap{ ng_controller: 'CommentsController as comments' }
    %md-card.todo-item-wrap
      %md-card-content.todo-item{ layout: 'row', layout_align: 'space-between center', 'ng-class': "{ 'checked-task': task.checked }" }
        %form.task-edit{ id: 'task-form-{{task.id}}', flex: '', name: 'editTaskForm' }
          %md-checkbox.todo-checkbox{ id: 'task-checkbox-{{task.id}}', 'aria-label': 'Checkbox', name: 'checked', ng_model: 'task.checked', 'ng-change': 'ctrl.update(editTaskForm, task)' }
          %md-input-container.md-block{ 'ng-class': "{ 'read-field': !editTaskForm.edited }" }
            %textarea.title{ id: 'task-title-{{task.id}}', 'aria-label': 'Title', 'md-maxlength': '100', 'md-no-asterisk': '', required: '', name: 'title', ng_model: 'task.title' }
            %span.hidden {{ task.title }}
            %div.validators{ng_messages: 'editTaskForm.title.$error'}
              %div{ng_message: 'required'} This is required.
              %div{ng_message: 'md-maxlength'} The title must be less than 100 characters long.

        %md-actions.todo-actions
          %md-button.md-icon-button.md-ink-ripple.md-18
            %md-icon{ id: 'edit-task-{{task.id}}', 'ng-click': 'ctrl.edit(editTaskForm, task)' } edit
          %md-button.md-icon-button.md-button.md-ink-ripple.md-18
            %md-icon{ id: 'delete-task-{{task.id}}', 'ng-click': 'ctrl.delete(task, project)' } delete
          %md-button.md-icon-button.md-button.md-ink-ripple.md-18
            %md-icon{'ng-click': 'comments.index(task); comments.visibleComments = !comments.visibleComments' } comment

    .comments-wrap{ 'ng-if': 'comments.visibleComments' }
      .comment-item-wrap{ 'ng-repeat': 'comment in comments.all' }
        %comments_item{ ctrl: 'comments', comment: 'comment', task: 'task' }
      .task-form
        %comments_create{ ctrl: 'comments', task: 'task' }
