.md-errors-spacer {
  transition: 150ms;
}

.read-field {
  input, textarea {
    transition: 300ms;
    border-color: rgba(255, 255, 255, 0);
    cursor: default;
    pointer-events: none;
  }
  .md-errors-spacer {
    position: relative;
    margin-top: -25px;
    visibility: hidden;
    opacity: 0;
  }
}
.material-icons {
  outline: none;
}
.min-35 {
  min-width: 35% !important;
}
.checked-task {
  background: rgb(232, 232, 232);
  opacity: 0.5;
  .title {
    display: block;
    text-decoration: line-through;
  }
}
/* Todo form */
.todo-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 2px;
  width: 80%;
  max-width: 650px;
  min-height: 50px;
  background-color: white;
  .title-container {
    flex: 1;
    margin: 0;
  }
}
.todo-list {
  width: 80%;
  max-width: 650px;
  margin-bottom: 40px;
}
.todo-item-wrap {
  min-height: 50px;
  margin-bottom: 15px;
}
.todo-params {
  flex: 1;
}
.todo-item {
  &:hover {
    .todo-actions {
      opacity: 1;
    }
  }
  .md-block {
    margin: 0;
  }
}
.todo-checkbox {
  margin: 0;
}
.todo-actions {
  transition: 300ms;
  opacity: 0;
  .md-icon-button {
    margin: 0;
  }
}
.md-icon-button {
  &.md-18 {
    margin: 0;
    padding: 4px;
    min-height: 30px;
    height: 30px;
    width: 30px;
    .material-icons {
      font-size: 18px;
    }
  }
  &.md-24 {
    margin: 0;
    padding: 4px;
    min-height: 40px;
    height: 40px;
    width: 40px;
    .material-icons {
      font-size: 24px;
    }
  }
}
.todo-add-button {
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  position: fixed;
}
.task-form {
  display: flex;
  justify-content: start;
  align-items: center;
  md-input-container {
    width: 100%;
  }
}

.project-form {
  margin: 35px 0 25px 0;
  .md-block {
    margin: 0;
  }
  .title {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }
}
