.md-errors-spacer {
  transition: 150ms;
}
.md-datepicker-input-mask {
  display: none;
}
@media (min-width: 960px) {
 md-toast.md-top {
    top: 60px;
  }
}
.show-gt-md {
  @media (max-width: 960px) {
    display: none;
  }
}
.show-xs {
  display: none;
  @media (max-width: 599px) {
    display: block;
  }
}
.center {
  text-align: center;
}
.read-field {
  &:not(.with-border) {
    input, textarea {
      border-color: rgba(255, 255, 255, 0);
    }
  }
  input, textarea {
    resize: none;
    transition: 300ms;
    cursor: default;
    pointer-events: none;
  }
  .md-errors-spacer {
    position: relative;
    margin-top: -25px;
    visibility: hidden;
    opacity: 0;
  }
}
.material-icons {
  outline: none;
}
.min-35 {
  min-width: 35% !important;
}
.checked-task {
  background: rgb(232, 232, 232);
  opacity: 0.5;
  .title {
    display: block;
    text-decoration: line-through;
  }
}
/* Todo form */
.todo-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 2px;
  width: 80%;
  max-width: 650px;
  min-height: 50px;
  background-color: white;
  @media (max-width: 600px) {
    padding: 0.5em;
  }
  .title-container {
    flex: 1;
    margin: 0;
  }
}
.todo-list {
  width: 80%;
  max-width: 650px;
  margin-bottom: 40px;
}
.todo-item-wrap {
  min-height: 50px;
  margin: 0 0 15px 0;
  padding: 0;
  box-sizing: border-box;
}
.task-wrap {
  padding: 0 20px;
  margin-bottom: 20px;
  @media (max-width: 320px) {
    padding: 0.25em;
  }
}
.todo-params {
  flex: 1;
}
.todo-item {
  @media (max-width: 320px) {
    padding: 0.5em 1em
  }
  &:hover {
    .todo-actions {
      opacity: 1;
    }
  }
  .md-block {
    margin: 0;
  }
}
.todo-checkbox {
  margin: 0;
}
.todo-actions {
  transition: 300ms;
  opacity: 0;
  .md-icon-button {
    margin: 0;
  }
}
.md-icon-button {
  &.md-18 {
    margin: 0;
    padding: 4px;
    min-height: 30px;
    height: 30px;
    width: 30px;
    .material-icons {
      font-size: 18px;
    }
  }
  &.md-24 {
    margin: 0;
    padding: 4px;
    min-height: 40px;
    height: 40px;
    width: 40px;
    .material-icons {
      font-size: 24px;
    }
  }
}
.todo-add-button {
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  position: fixed;
}
.task-edit {
  display: flex;
  justify-content: start;
  align-items: center;
  md-input-container {
    width: 100%;
  }
}
#project-form {
  margin: 35px 0 25px 0;
  .md-block {
    margin: 0;
  }
  .title {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }
}
.project-title {
  width: 80%;
  max-width: 650px;
}
.hidden {
  display: none;
}
.project-link.active {
   span {
    color: rgb(33,150,243);
  }
}
.project-actions {
  position: relative;
  margin-bottom: 10px;
  .md-datepicker-input-container {
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }
}
.project-datepicker {
  .md-icon-button {
    @extend .md-24;
  }
}
.date-title {
  min-height: 20px;
  font-size: 14px;
  font-weight: 500;
}
.auth-form {
  margin-bottom: 25px;
  md-whiteframe {
    background-color: #fff;
    @media (max-width: 960px) {
      max-width: 45% !important;
    }
    @media (max-width: 599px) {
      max-width: 90% !important;
    }
  }
  md-content {
    background-color: #fff;
  }
}
.comments-wrap {
  padding-left: 7%;
}
.comment-content {
  padding: 0;
  margin-bottom: 10px;
}
.comment-field {
  margin: 0;
}
.uploaded-list {
  display: flex;
  align-items: center !important;
  padding: 15px 10px !important;
}
.uploaded-image {
  max-width: 150px;
  img {
    width: 100%;
    display: block;
  }
}
