%md-content{ flex: '', ng_if: 'projects.currentProject' }

  %form#project-form{ layout: 'column', layout_align: 'center center', name: 'editProjectForm' }
    %md-input-container.md-block.project-title.read-field{ 'ng-class': "{ 'write': editProjectForm.edited }" }
      %textarea#title-field.title{ 'data-enter-event': 'projects.edit(editProjectForm, projects.currentProject)', 'aria-label': 'Title', 'md-maxlength': '50', 'md-no-asterisk': '', required: '', name: 'title', ng_model: 'projects.currentProject.title' }
      %span.hidden {{ projects.currentProject.title }}
      %div.validators{ ng_messages: 'editProjectForm.title.$error' }
        %div{ ng_message: 'required' } {{ 'validation.required' | translate }}
        %div{ ng_message: 'md-maxlength' } {{ 'validation.max_length' | translate:{value: 50} }}

    %md-actions.project-actions{ layout: 'row', layout_align: 'center' }
      %md-button#edit-project.md-ink-ripple.md-icon-button.md-24{ 'aria-label': 'edit project', 'ng-click': 'projects.edit(editProjectForm, projects.currentProject)' }
        %md-icon{ ng_if: '!editProjectForm.edited' } edit
        %md-icon{ ng_if: 'editProjectForm.edited' } done
      %md-button#delete-project.md-button.md-ink-ripple.md-icon-button.md-24{ 'ng-click': 'projects.delete(projects.currentProject)' }
        %md-icon delete
      %md-datepicker#deadline-project.todo-datepicker{ 'md-min-date': 'projects.minDate', name: 'completed_at', ng_model: 'projects.currentProject.completed_at', 'ng-change': 'projects.update(editProjectForm, projects.currentProject)' }

    .date-title {{ projects.currentProject.completed_at | date: 'dd/MM/yy' }}

  .tasks-content{ layout: 'column', layout_align: 'center center', ng_controller: 'TasksController as tasks' }
    %tasks_create{ ctrl: 'tasks', project: 'projects.currentProject' }

    .todo-list{ 'ui-sortable': 'tasks.sortableOptions', 'ng-model': 'projects.currentProject.tasks' }
      .task-wrap{ 'ng-repeat': 'task in projects.currentProject.tasks' }
        %tasks_item{ ctrl: 'tasks', task: 'task', project: 'projects.currentProject' }
